
body{
    background-image: url(Images/moroccan-flower.webp);
    font-family: sans-serif;
}
header{
    background-color: #ffffff;
    margin:-7px;
    padding: 10px;
}
header img{
    padding-top:20px;
}
ul{
    position: absolute;
    display: inline-block;
    margin:0px;
    top: 35px;
    right: 100px;
}
.link{
 display:inline-block;
 padding-top: 0;
 padding: 15px;
 font-size: large;
}

.link a{
    text-decoration: none;
    color: black;
}
.container{
 display: flex;
width: 100%;
}
.info{
    width: 20%;
    font-size: 1.25rem;
    padding: 80px 80px;
}
.info h1{
    font-size: 4.5rem;
    
}
.info a{
    text-decoration: none;
    color:rgb(35, 35, 35);
}
.cards{
    display: flex;
    width: 70%;
    position: relative;
    top: 60px;
}
.card{
    display: flex;
    width:35%;
    margin:5px;
    height:650px;
    position: relative;
}
.card img{
    object-fit: cover;
    width: 99%;
}
.cardInfo h3{
    text-transform: uppercase;
    position: absolute;
    font-size: x-large;
    bottom:25px;
    right:5px;
    background-color:white;
    padding:10px;

}
.cardInfo h4{
    display: flex;
    position: absolute;
    bottom:-32px;
    right:5px;
    background-color:#56c454 ;
    padding:10px;
    width: 40%;
    height:30px;
    justify-content: end;
    font-size: x-large;
}