
body{
    background-image: url(Images/moroccan-flower.webp);
    overflow: hidden;
    font-family: sans-serif;
}
header{
    background-color: #ffffff;
    margin:-7px;
    padding: 10px;
}
header img{
    padding-top:20px;
}
ul{
    position: absolute;
    display: inline-block;
    margin:0px;
    top: 35px;
    right: 100px;
}
.link{
 display:inline-block;
 padding-top: 0;
 padding: 15px;
 font-size: large;
}

.link a{
    text-decoration: none;
    color: black;
}
.container{
height: 250px;
padding: 100px 150px;
float:left;
width: 400px;
}
.container h1{
    font-size: 4.5rem;
    
}
.container p{
    width: 300px;
    font-size: 1.25rem;
}
.container a{
    text-decoration: none;
    color:rgb(35, 35, 35);
}
.imagesContainer{
    margin-top: 40px;
   float:right;
    height:600px;
    margin-right:0;
    display: flex;
    flex: row;
    
}
.image{
    width: 375px;
    height: 700px; 
    object-fit: cover;
    overflow: hidden;
    margin:5px;
   
    
}
.headers{
    width:375px;
    display: flex;
    flex-flow: column nowrap;
    margin-top: -96px;
    position: relative;
    left:195px;
}
h3{
    background-color: #ffffff;
    padding:10px;
    margin:0;
    width: 100px;
    color:black;
    text-transform: uppercase;
    position: relative;
    left:65px;
    text-align: end;
}
h4{
    padding: 15px 15px 15px 20px;
    background-color:#4ac468;
    margin:0;
    text-transform: uppercase;
    width:150px;
    text-align: end;
}
h2 a{
    font-size: xx-large;
}